In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('c_memorable_moments.txt', header=None, skiprows=1)

In [4]:
df = df[0].str.split(" ",expand = True)

In [10]:
dfH = df[df[0] == 'H']

In [9]:
dfV = df[df[0] == 'V']

In [11]:
dfV[1].max()

14

In [8]:
df[1] = pd.to_numeric(df[1])

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,V,7,tw52,t17,tmz1,t1l,t8b1,tg6,tjb1,None,None,None,None,None,None,None
1,H,7,twt1,tzb1,trn,t6c,t81,tgr,tc51,None,None,None,None,None,None,None
2,V,8,t001,t201,t81,tg11,td7,t652,t4q,tb6,None,None,None,None,None,None
3,H,10,tms,t0c,t8b1,tl3,tg02,tqz1,twd1,tqp1,t351,t21,None,None,None,None
4,H,12,t9q1,t2m1,tld1,tt,tpb,t6r1,t892,tsj1,trn,t4t1,tv81,tz41,None,None

In [8]:
dfH.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
1,H,7,twt1,tzb1,trn,t6c,t81,tgr,tc51,None,None,None,None,None,None,None
3,H,10,tms,t0c,t8b1,tl3,tg02,tqz1,twd1,tqp1,t351,t21,None,None,None,None
4,H,12,t9q1,t2m1,tld1,tt,tpb,t6r1,t892,tsj1,trn,t4t1,tv81,tz41,None,None
5,H,12,t822,t882,ttc1,t51,t071,t771,tn3,tfg1,t7d1,t332,t3b1,tbn1,None,None
7,H,8,tjp,t2x1,t2m1,t5p1,tdm1,tk6,twg1,ttc,None,None,None,None,None,None

In [13]:
def scoring (a,b):
    a_tag_sayisi = a[1]
    b_tag_sayisi = b[1]
    count = 0
    for x in range(2,a_tag_sayisi):
        for y in range(2,b_tag_sayisi):
            if(a[x] == b[y]):
                count += 1
    return min(a_tag_sayisi - count,b_tag_sayisi - count, count)

In [14]:
scoring(dfH.iloc[2],dfH.iloc[0])

1

In [15]:
def totalscoring(a):    
    for x in range (0,len(a)):
        maxscore = 0
        score = 0
        for y in range(x+1,len(a)):
            score = scoring(a.iloc[x],a.iloc[y])
            if(score > maxscore):
                maxscore = score
        print(maxscore)

In [63]:
d

2
2
2
2
1
1
2
2
1
1
2
2
1
2
2
2
2
2
1
1
2
2
2
1
2
1
1
1
2
1
1
1
2
1
2
1
1
1
1
3
2
2
2
2
2
1
2
1
2
2
1
3
1
1
1
2
2
1
1
2
2
1
1
1
2
1
1
1
2
2
2
1
1
1
2
2
1
1
1
1
2
2
1
2
1
1
1
1
1
2
2
2
1
1
2
1
2
1
2
2
1
1
2
1
2
1
3
1
2
1
1
1
1
1
1
1
2
1
2
1
2
1
2
1
2
2
2
2
2
1
2
1
2
1
1
2
1
1
1
2
1
2
1
1
1
1
1
1
2
1
1
1
1
3
1
2
2
1
1
2
1
1
2
1
2
1
2
2
2
1
2
1
1
1
2
2
1
1
2
1
1
1
1
1
1
1
2
1
1
1
1
1
1
1
1
2
2
1
2
2
1
2
1
2
2
1
1
2
1
1
3
1
2
1
1
1
1
2
1
1
1
1
1
1
1
3
2
1
2
2
2
2
1
1
2
1
1
2
2
1
2
1
1
1
1
1
1
1
2
2
2
1
1
1
2
3
1
1
2
1
1
2
1
1
2
2
1
1
1
1
1
1
2
1
2
1
1
2
2
2
1
1
1
2
1
3
1
1
1
1
2
1
1
1
1
1
1
1
1
2
1
1
2
1
1
1
1
1
1
2
1
2
1
1
1
1
2
1
1
1
2
1
2
1
2
1
1
1
2
1
2
2
1
2
1
2
1
1
1
1
1
1
1
1
1
2
1
2
1
2
1
1
1
2
1
1
2
1
1
2
1
1
1
1
0
2
1
1
1
1
1
1
2
1
1
2
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
1
2
2
0
1
2
1
1
1
1
1
1
1
0
1
1
1
1
1
0
1
0
0
1
1
0
1
1
1
0
1
0
1
1
0
1
0
1
0
1
1
1
1
0
0
0
0
0
0
0
1
0
0
0

In [99]:
dfH[1].max()

14

In [67]:
dfH.sort_values(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
56,H,4,tsq1,tdg1,tp12,t8t1,None,None,None,None,None,None,None,None,None,None
122,H,4,t3q,tpz,tf1,tzk1,None,None,None,None,None,None,None,None,None,None
639,H,5,tj41,tl81,tgg,t3q1,tpx1,None,None,None,None,None,None,None,None,None
642,H,5,tkt,t66,tf81,ts92,thk1,None,None,None,None,None,None,None,None,None
493,H,5,tsw,tq91,tr82,tvc1,tzm1,None,None,None,None,None,None,None,None,None
646,H,5,t351,tqx,tm81,t551,txf1,None,None,None,None,None,None,None,None,None
649,H,5,th1,tq12,t1,t86,td32,None,None,None,None,None,None,None,None,None
477,H,5,tr5,thb1,tv9,tjf1,trr,None,None,None,None,None,None,None,None,None
448,H,5,trd1,tl6,tfc1,tn81,t6b1,None,None,None,None,None,None,None,None,None
135,H,5,trq1,tcq1,tgs1,tvh,tv51,None,None,None,None,None,None,None,None,None
859,H,5,tlz1,t312,tr82,ttb2,tq52,None,None,None,None,None,None,None,None,None
420,H,5,t0l1,thg1,txk1,tls,tcw1,None,None,None,None,None,None,None,None,None
276,H,5,th01,thc,t55,t771,trp,None,None,None,None,None,None,None,None,None
691,H,5,tqs,tqk1,t1r1,tw11,t6c2,None,None,None,None,None,None,None,None,None
626,H,5,t512,t6t,tjq1,t011,tjr,None,None,None,None,None,None,None,None,None
141,H,5,tdp,txf1,tdp1,t3q,t9v,None,None,None,None,None,None,None,None,None
192,H,5,t6c,thk1,t02,t98,t882,None,None,None,None,None,None,None,None,None
194,H,5,ttf1,tx41,tz02,tl72,t07,None,None,None,None,None,None,None,None,None
734,H,5,tf41,t1,tvl1,tvj1,tr42,None,None,None,None,None,None,None,None,None
210,H,5,t33,trr,t4d2,ts2,tc6,None,None,None,None,None,None,None,None,None
333,H,5,tgb2,tz22,t2,t0b1,t0t1,None,None,None,None,None,None,None,None,None
220,H,5,tvf,tq01,tfq1,td51,trk,None,None,None,None,None,None,None,None,None
317,H,5,tqk1,tk5,t9x1,tqk,tdv,None,None,None,None,None,None,None,None,None
308,H,5,tfb2,t9w,t561,tw92,t2r1,None,None,None,None,None,None,None,None,None
748,H,5,t172,t621,t73,t8v,tbw,None,None,None,None,None,None,None,None,None
766,H,5,tts1,tm81,ths,tq91,tt31,None,None,None,None,None,None,None,None,None
268,H,5,tzn,t342,t81,tx01,t0l1,None,None,None,None,None,None,None,None,None
780,H,5,t7,t4x,t481,tn3,t681,None,None,None,None,None,None,None,None,None
282,H,5,tjw1,t1h,tnh,tqz,tbj,None,None,None,None,None,None,None,None,None
722,H,5,td81,tlz1,td62,t002,t031,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,H,14,t34,tfc2,tzn,t13,twb2,t0h,t2m,tn61,tc21,tg52,tn51,t3c1,t3q,t2m1
22,H,14,tr42,thr1,t402,tb02,tnh1,tsq1,tb4,tdn1,tq3,tz02,tp82,t471,tv71,th61
314,H,14,th1,t2m1,tjl,tv81,t011,tm,tz91,tn42,tr2,t7p1,tx62,ttb2,tb32,tvk
725,H,14,t0g1,th8,tg21,th6,t361,t921,tfj,t861,tb,tr5,tr32,t7j,th1,tt3
154,H,14,tn22,tcn,tqf,ttm,t912,tjr1,thk1,t3h,tpn1,txz,t4q1,t34,tj91,tzz
836,H,14,t5j,tcv1,trm,tn51,tlm,tqd,t452,tmf,t242,trr,tl01,t042,tz42,t4f1
196,H,14,tk92,tfz1,tf71,t1l1,t6z,txn,tv8,tvk,tt11,t3w,tjf,tsw,tc61,tj41
197,H,14,tj3,thn,t8l1,t72,t5j1,tcv1,tzb,tv32,t3m,tqt,t5f1,tbm,th81,th1
127,H,14,tg,tvq1,tjj1,t3g,tw52,tc92,tm1,tgj,t0b,t0g1,t2m1,tzb,thh1,tm9
125,H,14,tx7,t7n1,tc52,th42,t2m1,t692,tq91,trt,tx,tfz1,tdq1,t8p,tx71,t2m
217,H,14,t13,tqf,tr42,t2m1,tsb,tt31,t1l,tdn1,t47,tm1,tqz1,td92,t5f1,tp91
219,H,14,t252,tbm,tt21,trv,tvb,t0f1,tc6,t0j1,tck,t0b1,tnl1,tw51,thh1,t4h1
113,H,14,tb62,t8n,t691,tsq,t9j1,tsv1,tq81,ttd,tc61,t9d1,tl,tld,tl6,t8h
241,H,14,tb02,t6z1,trr,t1j1,tp31,tq92,t19,tfz1,tbn1,tj31,tfd1,t9c1,tv32,tm02
109,H,14,tfk1,tpr1,tzn,tw81,tl2,tpn1,t881,tf2,t2s,t242,t0h1,tq91,twb,t3m
723,H,14,tc51,t6r,tgt1,tgj,tpb2,t1,tz82,t622,tnv,tn12,ttf,t001,t4n1,t0x
802,H,14,t7k1,tzt1,t471,t7b2,tz22,tsg,tgc2,t351,tk31,t082,t0l1,tgt1,tfz1,tfc2
890,H,14,tk61,tmq1,tvr,tvc1,t8l,tq91,tzp1,tt7,tbh,txj1,tq31,t4r,tbb2,t4s1
286,H,14,ttw1,trt,ttr,tm9,tlb1,td62,th11,tx1,t2x1,tcv1,tl72,t8w,tk6,tsj1
294,H,14,tj12,twr1,tk71,t4t1,tsc2,tdh,t6c2,tjs1,tpf,tnz,t6w,txf1,tf91,t55
771,H,14,t0d1,tfd,t9b2,t4d2,tq21,tx01,t762,ttz1,tx31,trk,tw11,t461,tks1,tn81
761,H,14,tgc,t3m,tcl,tz02,tmv,th61,tjr,t3p1,tmj1,tfc2,tg5,txg,tds1,ttj
83,H,14,tsm,t5f1,t191,t032,tq3,tcl,tmn1,tjw1,tls1,tlr1,tgn,trh,tgr,tjr1
745,H,14,tvb,tg62,tvb1,tvk,thc2,tz92,td51,tpc1,t5p1,tdz,trk,thc,tdd,ttm
78,H,14,tr41,tmc,tf21,th82,t4r,tj41,tlb1,th11,tsl,t8w,tmj,tpb,t1z1,t2z
179,H,14,tr51,tl72,tx41,tvv1,t002,tq81,tzp1,tpq,tlm,tjx,tms,t9k,tjs1,tm7
732,H,14,tvq,t002,t361,tm71,t5v1,txr1,tkq,t5f1,t92,twp1,t4p1,t2,t7n1,tn81
728,H,14,t2,tdg,th11,tht1,t5f1,tlh1,tgp1,tn4,trm,t2x1,t622,tq22,t412,t3l
260,H,14,t8,tzn1,tnf,t86,txg,t0j1,t8l,tqx,tp62,tld1,tj2,tjb1,t33,tgn
779,H,14,tc42,tk22,thd,t512,twv1,t162,tpg1,tr1,ttc1,t1s,tsr,td51,t212,tt

In [101]:
birlesim = pd.concat([dfV,dfH])
birlesim.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,V,7,tw52,t17,tmz1,t1l,t8b1,tg6,tjb1,None,None,None,None,None,None,None
2,V,8,t001,t201,t81,tg11,td7,t652,t4q,tb6,None,None,None,None,None,None
6,V,10,tlb,tj62,tr51,tpz1,t502,t9s,t14,t9c1,trx,t291,None,None,None,None
8,V,14,tc61,tl51,t3t,tk6,tlf,t1,t561,tm9,t911,tdd1,tz9,tcd,tr5,t76
10,V,13,thd,tv8,tb82,t692,ts3,th8,tft1,tw6,tfj,ttb2,ts1,t582,tr02,None

In [102]:
birlesim[1].max()

14

In [103]:
sorted_birlesim = birlesim.sort_values(by =1,ascending =False)

In [105]:
sorted_birlesim.head()[1].max()

14

In [106]:
def scoring_sorted_values(a):
    toplam = 0
    for x in range (0,len(a)-1):
        toplam += scoring(a.iloc[x],a.iloc[x+1])
    return toplam

In [107]:
scoring_sorted_values(birlesim)

NameError: name 'scoring' is not defined

In [109]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,V,7,tw52,t17,tmz1,t1l,t8b1,tg6,tjb1,None,None,None,None,None,None,None
1,H,7,twt1,tzb1,trn,t6c,t81,tgr,tc51,None,None,None,None,None,None,None
2,V,8,t001,t201,t81,tg11,td7,t652,t4q,tb6,None,None,None,None,None,None
3,H,10,tms,t0c,t8b1,tl3,tg02,tqz1,twd1,tqp1,t351,t21,None,None,None,None
4,H,12,t9q1,t2m1,tld1,tt,tpb,t6r1,t892,tsj1,trn,t4t1,tv81,tz41,None,None

In [110]:
def scoring_random_values(a):
    toplam = 0
    for x in range (0,len(a)-1):
        toplam += scoring(a.iloc[x],a.iloc[x+1])
    return toplam

In [129]:
scoring_random_values(df_deneme)

66

In [22]:
sorted_dfV=dfV.sort_values(by=1,ascending = False)

In [30]:
sorted_dfV.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
339,V,14,tmg,tpg1,t1v1,t9n1,tgn,tw21,t2t,tm9,tjs1,t13,tmf,t3r1,t61,t4d2
409,V,14,tv1,tsw,t6x,t342,tph1,t8w,tq91,t242,t161,t4t1,t19,t3r1,t532,tx71
553,V,14,tt82,tn12,t09,tx71,t2m1,tx41,t52,tl6,tgt1,t181,tm1,tzn,tbv,t8z
289,V,14,t4r,ts21,tlm,tts1,tzm1,tg12,ttg1,t0f1,t82,tn81,tcg,t462,tt61,t222
88,V,14,tqq,tv61,t81,t351,trj1,tnp1,t971,th42,t12,tk22,t212,t0j1,t932,tpt1

In [34]:
sorted_dfV[16] = 0

In [36]:
for i in range(0,len(sorted_dfV)):
    if(i % 2 == 1):
        sorted_dfV[16].iloc[i-1] = sorted_dfV.index[i]

C:\Users\ugurs\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [37]:
sorted_dfV.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
339,V,14,tmg,tpg1,t1v1,t9n1,tgn,tw21,t2t,tm9,tjs1,t13,tmf,t3r1,t61,t4d2,409
409,V,14,tv1,tsw,t6x,t342,tph1,t8w,tq91,t242,t161,t4t1,t19,t3r1,t532,tx71,0
553,V,14,tt82,tn12,t09,tx71,t2m1,tx41,t52,tl6,tgt1,t181,tm1,tzn,tbv,t8z,289
289,V,14,t4r,ts21,tlm,tts1,tzm1,tg12,ttg1,t0f1,t82,tn81,tcg,t462,tt61,t222,0
88,V,14,tqq,tv61,t81,t351,trj1,tnp1,t971,th42,t12,tk22,t212,t0j1,t932,tpt1,91

In [20]:
sorted_dfV.index[1]

409

In [38]:
sorted_dfV = sorted_dfV[sorted_dfV[16] != 0]

In [39]:
birlesim = pd.concat([sorted_dfV,dfH])

In [40]:
birlesim.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
339,V,14,tmg,tpg1,t1v1,t9n1,tgn,tw21,t2t,tm9,tjs1,t13,tmf,t3r1,t61,t4d2,409.0
553,V,14,tt82,tn12,t09,tx71,t2m1,tx41,t52,tl6,tgt1,t181,tm1,tzn,tbv,t8z,289.0
88,V,14,tqq,tv61,t81,t351,trj1,tnp1,t971,th42,t12,tk22,t212,t0j1,t932,tpt1,91.0
94,V,14,tzw,tl52,tvc1,t541,t4c2,tb01,t7r,t5j,tn91,thr,tt72,tbm,tzr1,ttp1,543.0
392,V,14,tqg1,tm42,tp62,tql,t41,tqh,tn4,tgt1,tk52,tch,tlm,t861,tj82,thb1,108.0

In [44]:
birlesim_sorted = birlesim.sort_values(by = 1, ascending = False)

In [45]:
birlesim_sorted.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
339,V,14,tmg,tpg1,t1v1,t9n1,tgn,tw21,t2t,tm9,tjs1,t13,tmf,t3r1,t61,t4d2,409.0
22,H,14,tr42,thr1,t402,tb02,tnh1,tsq1,tb4,tdn1,tq3,tz02,tp82,t471,tv71,th61,NaN
779,H,14,tc42,tk22,thd,t512,twv1,t162,tpg1,tr1,ttc1,t1s,tsr,td51,t212,tt,NaN
802,H,14,t7k1,tzt1,t471,t7b2,tz22,tsg,tgc2,t351,tk31,t082,t0l1,tgt1,tfz1,tfc2,NaN
553,V,14,tt82,tn12,t09,tx71,t2m1,tx41,t52,tl6,tgt1,t181,tm1,tzn,tbv,t8z,289.0

In [46]:
birlesim_sorted.index

Int64Index([339,  22, 779, 802, 553, 836, 260, 241, 890, 219,
            ...
            448, 859, 403, 192, 194, 916, 985, 980, 122,  56],
           dtype='int64', length=750)

In [60]:
birlesim_sorted[16].to_csv(sep = ' ', path = 'a.txt')

In [63]:
birlesim_sorted[16].head()

339    409.0
22       NaN
779      NaN
802      NaN
553    289.0
Name: 16, dtype: float64

In [69]:
sonuc = birlesim_sorted[16].copy()

In [75]:
sonuc = sonuc.fillna(-1.0).astype('int')

In [76]:
sonuc.to_csv(sep = ' ', path = 'ab.txt')